body {
  background-color: #f5f5f5;

}

.Authentication {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%; /* Set a maximum width */
  width: 100%; /* Initially, set width to 100% */
  text-align: center;
}

/* For small devices (e.g., phones) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .Authentication {
    width: 80%;
  }
}

/* For tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .Authentication {
    width: 50%;
  }
}

/* For small laptops/desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Authentication {
    width: 40%;
  }
}

/* For larger screens */
@media only screen and (min-width: 1200px) {
  .Authentication {
    width: 30%;
  }
}


.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}
